<div class="container">
  <h1 style="text-align: center;">Races of monsters</h1>
  <div class="grid">
    <div *ngFor="let race of races" class="col-3">
      <p-card header="{{race.name}}" [style]="{'margin-bottom': '2em','background-color':'#AE16F5','color':'white'}">
        <div style="text-align: center">
          <button pButton type="button" label="Detalles" class="p-button-raised p-button-rounded" (click)="sendDetailRace(race.index)"></button>
        </div>
      </p-card>
    </div>
  </div>
</div>
