<div class="container">
  <div class="centerMoster">
    <img src="https://i.pinimg.com/originals/8e/08/7c/8e087c366be4df59f65f2160118f7382.gif" alt="Monster"><br>
  </div>
  <div class="centerMoster">
    <button pButton type="button" label="Monstruos" [routerLink]="'/monster'" class="p-button-raised p-button-rounded"></button>
  </div>
  <div class="centerMoster">
    <button pButton type="button" label="Razas de monstruos" [routerLink]="'/monster-races'" class="p-button-raised p-button-rounded"></button>
  </div>
</div>
