
<div class="container centerMoster">
  <p-card header="{{race.name}}" [style]="{'margin-bottom': '2em','background-color':'#C9F2E0', 'max-width':'800px'}">
    <div>
      <p *ngIf="race.age != null">
        <label style="font-weight: 600">Age:</label>
        {{race.age}}
      </p>
      <p *ngIf="race.alignment != null">
        <label style="font-weight: 600">Alineation:</label>
        {{race.alignment}}
      </p>
      <div *ngIf="race.languages != null" style="background-color: #a8aefa; border-radius: 0.5em;">
        <label style="font-weight: 600">Languages:</label>
        <p *ngFor="let item of race.languages; let i = index">
          {{i+1}}. {{item.name}}
        </p>
      </div>
      <p *ngIf="race.language_desc != null">
        <label style="font-weight: 600">Language description:</label>
        {{race.language_desc}}
      </p>
      <p *ngIf="race.size != null">
        <label style="font-weight: 600">Size:</label>
        {{race.size}}
      </p>
      <p *ngIf="race.size_description != null">
        <label style="font-weight: 600">Size description:</label>
        {{race.size_description}}
      </p>
      <p *ngIf="race.speed != null">
        <label style="font-weight: 600">Speed:</label>
        {{race.speed | number}}
      </p>
      <div *ngIf="race.traits.length != 0" style="background-color: #82ee94; border-radius: 0.5em;">
        <label style="font-weight: 600">Traits:</label>
        <p *ngFor="let item of race.traits; let i = index">
          {{i+1}}. {{item.name}}
        </p>
      </div>
      <div *ngIf="race.starting_proficiencies != 0" style="background-color: #ffe292; border-radius: 0.5em;">
        <label style="font-weight: 600">Starting proficiencies:</label>
        <p *ngFor="let item of race.starting_proficiencies; let i = index">
          {{i+1}}. {{item.name}}
        </p>
      </div>
      <div *ngIf="race.subraces != 0" style="background-color: #cf9ff7; border-radius: 0.5em;">
        <label style="font-weight: 600">Sub races:</label>
        <p *ngFor="let item of race.subraces; let i = index">
          {{i+1}}. {{item.name}}
        </p>
      </div>
    </div>
  </p-card>
</div>
